{% extends "base.html" %}

{% block title %}Collections{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">

        $(function(){
        
            var csrftoken = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("#share").click(function(){
                var data = {
                    data: JSON.stringify({
                        "content": $("#content").val()
                    })
                };
                
                $.ajax({
                    url:"/post",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('提交失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        var blog = jQuery.parseJSON(results); 
                        // alert(blog.content);

                        var post_style = 'bg-primary';
                        if(blog.post_type == 'REPEAT') {
                            post_style = 'bg-red';
                        } else if(blog.post_type == 'REPLAY') {
                            post_style = 'bg-black';
                        } else {
                            post_style = 'bg-primary';
                        }

                        var image_block = ''
                        if (blog.exist_pic != 0) {
                            image_block = '<p><a href="#" name="a"><img src="' + blog.pic_path + '"></a></p>'
                        }

                        time_line = 
                        '<div class="tl-row">' +
                            '<div class="tl-item float-right">' +
                                '<div class="tl-icon ' + post_style + '">' +
                                    '<img class="img-circle" width="30" src="{{ member.avatar_path }}" alt="" />' +
                                '</div>' +
                                '<div class="popover right">' +
                                    '<div class="arrow"></div>' +
                                    '<div class="popover-content">' +
                                        '<p class="tl-content">' + blog.content + '</p>' +
                                        image_block +
                                        '<div class="tl-time">' +
                                            '<i class="glyph-icon icon-clock-o"></i> ' + blog.create_time +
                                            '  通过 ' + blog.via +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
                        $("#ajax_tl_row").html(time_line);
                        $("#content").val('');
                    }
                });
            });
        });

        function collect(blog_id) {
                
                var link = $("#blog_collect_" + blog_id);
                var collect_flag = $("#collect_flag_" + blog_id).val();

                var data = {
                    data: JSON.stringify({
                        "blog_id": blog_id
                    })
                };

                if (collect_flag == "uncollect") {
                    $.ajax({
                        url:"/collect",
                        type: "POST",
                        data: data,
                        error: function(){
                            alert('提交失败,请重试!');
                        },
                        success: function(results){
                            // alert(results);
                            $("#collect_flag_" + blog_id).val("collecting");
                            link.html("取消收藏");
                        }
                    });
                } else if (collect_flag == "collecting") {
                    $.ajax({
                        url:"/uncollect",
                        type: "POST",
                        data: data,
                        error: function(){
                            alert('提交失败,请重试!');
                        },
                        success: function(results){
                            // alert(results);
                            $("#collect_flag_" + blog_id).val("uncollect");
                            link.html("收藏");
                        }
                    });
                } else {
                    alert("收藏失败，请稍后重试。");
                }
                
                
        }
    </script>
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="panel-layout">
        <div class="panel-box">

            <div class="panel-content image-box">
                <div class="ribbon">
                    <div class="bg-primary"><i class="glyph-icon icon-facebook"></i></div>
                </div>
                <div class="image-content font-white">

                    <div class="meta-box meta-box-bottom">
                        {% if member %}
                        <img src="{{ member.avatar_path }}" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">{{ member.fullname }}</h3>
                        <h4 class="meta-subheading">{{ member.autograph }}</h4>
                        {% else %}
                        <img src="../static/image/avatar/avatar.png" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">Error</h3>
                        <h4 class="meta-subheading">Error</h4>
                        {% endif %}
                    </div>

                </div>
                <img src="../static/image/blurred-bg-2.jpg" alt="">

            </div>
            <div class="panel-content pad15A bg-white radius-bottom-all-4">
                <div class="center-vertical">

                    <ul class="center-content list-group list-group-separator row mrg0A">
                        <li class="col-md-4">
                            <b>{{ following_count }}</b>
                            <p class="font-gray">我关注的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>{{ fans_count }}</b>
                            <p class="font-gray">关注我的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">消息</p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="/index" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    首页
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @提到我的(1)
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    私信
                </a>
                <a href="/collections" class="list-group-item active" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            热门话题
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    泡饭
                </a>
            </div>
        </div>
    </div>
    <div class="content-box mrg15B">
        <h3 class="content-box-header clearfix">
            Friends online
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg"  alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg"  alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
        </div>
    </div>

</div>                            
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="content-box bg-white post-box">
        <form name="post_form" action="/post" method="POST">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <textarea id="content" name="content" class="textarea-autosize" placeholder="你在做什么?"></textarea>
            <div class="button-pane">
                <a href="#" class="btn btn-md btn-link hover-white" title="">
                    <i class="glyph-icon icon-map-marker"></i>
                </a>
                <a href="#" class="btn btn-md btn-link hover-white" title="">
                    <i class="glyph-icon icon-picture-o"></i>
                </a>
                <a id="share" class="btn btn-md btn-post float-right btn-success" title="">
                    Share it!
                </a>
            </div>
        </form>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                最新动态
            </h3>
            <div class="example-box-wrapper">
                <div class="timeline-box timeline-box-left">
                    <div id="ajax_tl_row"></div>
                    {% if blog_list %}
                        {% for blog in blog_list %}
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                {% if blog.get('blog').post_type == 'NORMAL' %}
                                <div class="tl-icon bg-primary">
                                {% elif blog.get('blog').post_type == 'REPEAT' %}
                                <div class="tl-icon bg-red">
                                {% elif blog.get('blog').post_type == 'REPLAY' %}
                                <div class="tl-icon bg-black">
                                {% endif %}
                                    <img class="img-circle" width="30" src="{{ member.avatar_path }}" alt="" />
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div id="blog_detail_{{ blog.get('blog').id }}" class="popover-content">
                                        {% if blog.get('collect_member') %}
                                            <div class="tl-label bs-label bg-primary">
                                                <a href="" style="color:white;">{{ blog.get('collect_member').fullname }}</a>
                                            </div>
                                        {% endif %}
                                        <p class="tl-content">
                                            {{ blog.get('blog').content }}
                                        </p>
                                        {% if blog.get('blog').exist_pic != 0 %}
                                            <p>
                                                <a href="#" name="a"><img src="{{ blog.get('blog').pic_path }}"></a>
                                            </p>
                                        {% endif %}
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i> {{ blog.get('blog').create_time }} 
                                            via {{ blog.get('blog').via }}

                                            <script type="text/javascript">
                                                $(function(){
                                                    // inital hide
                                                    $("#blog_operate_{{ blog.get('blog').id }}").hide();

                                                    // hover
                                                    $("#blog_detail_{{ blog.get('blog').id }}").hover(function(){
                                                        $("#blog_operate_{{ blog.get('blog').id }}").show();
                                                    },
                                                    function(){
                                                        $("#blog_operate_{{ blog.get('blog').id }}").hide();
                                                    }); 
                                                });
                                            </script>

                                            <div id="blog_operate_{{ blog.get('blog').id }}" class="blog_operate"> 
                                                <input id="collect_flag_{{ blog.get('blog').id }}" type="hidden" value="collecting">
                                                
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-star"></i> 
                                                    <a id="blog_collect_{{ blog.get('blog').id }}" onclick="collect({{ blog.get('blog').id }});" style="cursor:pointer;">取消收藏</a> 
                                                </span>
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-share"></i> 
                                                    <a href="#">转发</a> 
                                                </span>
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-remove"></i> 
                                                    <a href="#">删除</a> 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="tl-row">
                            当前没有动态，为什么不发一条呢？
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}