{% extends "base.html" %}

{% block title %}Explore{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    首页
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @提到我的(1)
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    私信
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    <div class="content-box mrg15B">
        <h3 class="content-box-header clearfix">
            推荐
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial2.jpg"
                    alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial3.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial4.jpg"
                    alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial5.jpg"
                    alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial6.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                随便看看其他人在做什么...
            </h3>
            <div class="example-box-wrapper">
                <div class="timeline-box timeline-box-left">
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-red">
                                <img class="img-circle" width="30" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                                    alt="" />
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="tl-label bs-label bg-yellow" style="float:right;">
                                        <a href="" style="color:white;"><i class="glyph-icon icon-star"></i></a>
                                    </div>
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Donec odio.Lorem ipsum dolor sit amet, consectetuer adipiscing
                                        elit. Donec odio.Lorem ipsum dolor sit amet, consectetuer
                                        adipiscing elit. Donec odio. 
                                        </p>
                                    <p>
                                        <a href="#" name="a"><img src="../static/image/testimonial1.jpg"></a>
                                    </p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i> a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-primary">
                                <img class="img-circle" width="30" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                                    alt="" />
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="tl-label bs-label bg-yellow">
                                        <a href="" style="color:white;">粽子大人</a>
                                    </div>
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Donec odio. </p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i> a few seconds
                                        ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-black">
                                <i class="glyph-icon icon-headphones"></i>
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="tl-label bs-label label-danger">Meeting</div>
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Donec odio. </p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i> a few seconds
                                        ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}