{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">

        $(function(){

            // hide repeat form
            $("#cancel_repeat").click(function(){
                $("#repeat_header").hide(350);
                $("#re_from_content_p").hide(350);
                $("#content_divider").hide(350);
            });

            $('.image_popup_link').magnificPopup({
                type: 'image'
                // other options
            });
        
            var csrftoken = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("#share").click(function(){

                alert($("#re_from").val());
                alert($("#re_member_id").val());

                var re_from_id = $("#re_from").val();
                var origin_post_type = $("#origin_post_type_"+re_from_id).val();
                var re_member_fullname = $("#re_member_fullname_" +re_from_id).val();
                var re_member_personality_url = $("#re_member_personality_url_" + re_from_id).val();
                var file_name = $("#file_name").val();

                var data = {
                    data: JSON.stringify({
                        "content": $("#content").val(),
                        "re_from": $("#re_from").val(),
                        "re_member_id": $("#re_member_id").val(),
                        "post_type": $("#post_type").val(),
                        "file_name": file_name
                    })
                };
                
                $.ajax({
                    url:"/post",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('提交失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        var blog = jQuery.parseJSON(results); 
                        // alert(blog.content);

                        var post_style = 'bg-primary';
                        var repeat_content = blog.content;
                        if(blog.post_type == 'REPEAT') {
                            post_style = 'bg-yellow';
                            if(origin_post_type == "REPEAT") {
                                //repeat_content = blog.content + "//" +@被转发的用户名 +$("#repeat_content_"+re_from_id).html();
                                var re_member_link = "<a href='/space/"+re_member_personality_url+"' name=''>@"+re_member_fullname+"</a> :";
                                repeat_content = blog.content + " //" + re_member_link + $("#repeat_content_"+re_from_id).html();                           
                            } else if(origin_post_type == "NORMAL") {
                                var re_member_link = "<a href='/space/"+re_member_personality_url+"' name=''>@"+re_member_fullname+"</a> :";
                                var normal_exist_pic = $("#normal_exist_pic_"+re_from_id).val();
                                var normal_pic_path = $("#normal_pic_path_"+re_from_id).val();
                                
                                var pic_link = "";
                                if (typeof(normal_exist_pic)!="undefined" && normal_exist_pic != "") {
                                    pic_link = "<a href='" + normal_pic_path + "' name=''>查看图片</a>";
                                }
                                repeat_content = blog.content + " //" + re_member_link + $("#repeat_content_"+re_from_id).html() + pic_link;
                            } 
                        } else if(blog.post_type == 'REPLAY') {
                            post_style = 'bg-black';
                        } else {
                            post_style = 'bg-primary';
                        }

                        var image_block = ''
                        if (blog.exist_pic != 0) {
                            image_block = '<p><a class="image_popup_link" href="'+blog.origin_pic_path+'"><img src="' + blog.pic_path + '"></a></p>'
                        }

                        time_line = 
                        '<div class="tl-row">' +
                            '<div class="tl-item float-right">' +
                                '<div class="tl-icon ' + post_style + '">' +
                                    '<img class="img-circle" width="30" src="{{ member.avatar_path }}" alt="" />' +
                                '</div>' +
                                '<div class="popover right">' +
                                    '<div class="arrow"></div>' +
                                    '<div class="popover-content">' +
                                        '<p class="tl-content">' + repeat_content + '</p>' +
                                        image_block +
                                        '<div class="tl-time">' +
                                            '<i class="glyph-icon icon-clock-o"></i> ' + blog.create_time +
                                            '  通过 ' + blog.via +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
                        $("#ajax_tl_row").html(time_line);
                        $("#content").val('');

                        $("#image_name").html("");
                        $("#del_img").hide();

                        $("#repeat_header").hide();
                        $("#re_from_content_p").hide();
                        $("#content_divider").hide();
                    }
                });
            });

        });

        function collect(blog_id) {
                
            var link = $("#blog_collect_" + blog_id);
            var collect_flag = $("#collect_flag_" + blog_id).val();

            var data = {
                data: JSON.stringify({
                    "blog_id": blog_id
                })
            };

            if (collect_flag == "uncollect") {
                $.ajax({
                    url:"/collect",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('提交失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        $("#collect_flag_" + blog_id).val("collecting");
                        link.html("取消收藏");
                    }
                });
            } else if (collect_flag == "collecting") {
                $.ajax({
                    url:"/uncollect",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('提交失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        $("#collect_flag_" + blog_id).val("uncollect");
                        link.html("收藏");
                    }
                });
            } else {
                alert("收藏失败，请稍后重试。");
            }
        }

        function repeat(blog_id, content, re_member_id, 
                exist_pic, fullname, p_url, repeat_type) {
            alert(blog_id+ fullname + p_url);
            var pic_path = arguments[7];
            alert(content +"-"+ re_member_id +"-"+ exist_pic + "=" +pic_path)
            
            $("#content")[0].focus();
            // $("#content").text("hehe");
            $("#re_from").val(blog_id);
            $("#re_member_id").val(re_member_id);
            $("#post_type").val("REPEAT");

            var repeat_content = "<a href='/space/" + p_url + "' name=''>@" + fullname + "</a> : " + content;
            var repeat_pic = "";
            if (exist_pic != 0) {
                repeat_pic = "<p>" +
                    "<a href='#' name='a'><img src='"+ pic_path +"'></a>" +
                "</p>";
                $("#re_from_content_p").html(repeat_content + repeat_pic);
            } else {
                $("#re_from_content_p").html(repeat_content);
            }

            $("#repeat_header").show(350);
            $("#re_from_content_p").show(350);
            $("#content_divider").show(350);
            $("#content").attr("placeholder", "转发理由");
            $("#all_content").click(function(){
                location.href ="/blog_detail";
            });
        }

        function delpost(blog_id) {
            var data = {
                data: JSON.stringify({
                    "blog_id": blog_id
                })
            };
            if(confirm("你确定删除这条消息吗？")){
                $.ajax({
                    url:"/delpost",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('删除失败,请稍后重试!');
                    },
                    success: function(results){
                        // alert(results);
                        $("#blog_tl_"+blog_id).remove();
                    }
                });
            }

        }

        function upload_image(obj) {
            // alert(obj.value);
            var form = new FormData(document.getElementById("post_form"));
            $.ajax({
                url: "/upload",
                type: "post",
                data: form,
                processData: false,
                contentType: false,
                success: function(data) {
                    // alert(data);
                    // alert("upload success!");
                    $("#image_name").html(data);
                    $("#file_name").val(data)
                    $("#del_img").show();
                },
                error:function(e){
                    alert("upload error!");
                }
            });  
        }

        function del_image() {
            filename = $("#file_name").val()

            var data = {
                data: JSON.stringify({
                    "filename": filename
                })
            };

            $.ajax({
                url:"/delimage",
                type: "POST",
                data: data,
                error: function(){
                    alert('删除失败,请稍后重试!');
                },
                success: function(results){
                    // alert(results);
                    $("#image_name").html("");
                    $("#del_img").hide();
                }
            });

        }

    </script>
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="panel-layout">
        <div class="panel-box">

            <div class="panel-content image-box">
                <div class="ribbon">
                    <div class="bg-primary"><i class="glyph-icon icon-facebook"></i></div>
                </div>
                <div class="image-content font-white">

                    <div class="meta-box meta-box-bottom">
                        {% if member %}
                        <img src="{{ member.avatar_path }}" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">{{ member.fullname }}</h3>
                        <h4 class="meta-subheading">{{ member.autograph }}</h4>
                        {% else %}
                        <img src="../static/image/avatar/avatar.png" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">Error</h3>
                        <h4 class="meta-subheading">Error</h4>
                        {% endif %}
                    </div>

                </div>
                <img src="../static/image/blurred-bg-2.jpg" alt="">

            </div>
            <div class="panel-content pad15A bg-white radius-bottom-all-4">
                <div class="center-vertical">

                    <ul class="center-content list-group list-group-separator row mrg0A">
                        <li class="col-md-4">
                            <b>{{ following_count }}</b>
                            <p class="font-gray">我关注的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>{{ fans_count }}</b>
                            <p class="font-gray">关注我的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>{{ blog_count }}</b>
                            <p class="font-gray">消息</p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="/index" class="list-group-item active" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    首页
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @提到我的(1)
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    私信
                </a>
                <a href="/collections/{{ member.personality_url }}" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            热门话题
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    泡饭
                </a>
            </div>
        </div>
    </div>
    <div class="content-box mrg15B">
        <h3 class="content-box-header clearfix">
            我关注的人
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            {% if followee_list %}
                {% for followee in followee_list %}
                <div class="status-badge mrg10A">
                    <img class="img-circle" width="40" src="{{ followee.avatar_path }}"  alt="{{ followee.fullname }}" title="{{ followee.fullname }}"/>
                    <div class="small-badge bg-green"></div>
                </div>
                {% endfor %}
            {% else %}
                <p>还没有朋友哦</p>
            {% endif %}
        </div>
    </div>

</div>                            
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="content-box bg-white post-box">

        <form id="post_form" name="post_form" action="/post" method="POST">

            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input id="re_from" name="re_from" type="hidden" value="0">
            <input id="re_member_id" name="re_member_id" type="hidden" value="0">
            <input id="post_type" name="post_type" type="hidden" value="NORMAL">

            <h3 id="repeat_header" style="display: none;" class="content-box-header bg-default">
                转发
                <div class="header-buttons-separator">
                    <a id="all_content" class="icon-separator refresh-button" data-style="light" data-theme="bg-black" data-opacity="40" style="cursor:pointer;">
                        <i class="glyph-icon icon-chevron-right"></i>
                    </a>
                    <a id="cancel_repeat" class="icon-separator refresh-button" data-style="light" data-theme="bg-black" data-opacity="40" style="cursor:pointer;">
                        <i class="glyph-icon icon-times"></i>
                    </a>
                </div>
            </h3>
            <div id="re_from_content" class="content-box-wrapper bg-default">
                <p id="re_from_content_p" style="display: none;"></p>
                <div id="content_divider" style="display: none;" class="divider"></div>
                <p>
                    <textarea id="content" name="content" class="textarea-no-resize" style="padding:0px;" placeholder="你在做什么?"></textarea>
                </p>
            </div>
                
            <div class="button-pane">
                <a href="#" class="btn btn-md btn-link hover-white" title="">
                    <i class="glyph-icon icon-map-marker"></i>
                </a>
                <input id="file" type="file" name="file" onChange="upload_image(this);" style="display:none"/>
                <a onclick='javascript:document.getElementById("file").click()' class="btn btn-md btn-link hover-white" title="上传图片">
                    <i class="glyph-icon icon-picture-o"></i>
                </a>
                <span id="image_name"></span>
                <input id="file_name" name="file_name" type="hidden" value="">
                <a id="del_img" onclick="del_image()" class="btn btn-md btn-link hover-white" style="display:none;" title="删除图片">
                    <i class="glyph-icon icon-remove"></i>
                </a>
                <a id="share" class="btn btn-md btn-post float-right btn-success" title="">
                    Share it!
                </a>
            </div>
        </form>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                最新动态
            </h3>
            <div class="example-box-wrapper">
                <div class="timeline-box timeline-box-left">
                    <div id="ajax_tl_row"></div>
                    {% if blog_list %}
                        {% for blog in blog_list %}
                        <div class="tl-row" id="blog_tl_{{ blog.get('blog').id }}">
                            <div class="tl-item float-right">
                                {% if blog.get('blog').post_type == 'NORMAL' %}
                                    <div class="tl-icon bg-primary">
                                {% elif blog.get('blog').post_type == 'REPEAT' %}
                                    <div class="tl-icon bg-yellow">
                                {% elif blog.get('blog').post_type == 'REPLAY' %}
                                    <div class="tl-icon bg-black">
                                {% endif %}
                                        <input type="hidden" id="origin_post_type_{{ blog.get('blog').id }}" name="origin_post_type_{{ blog.get('blog').id }}" value="{{blog.get('blog').post_type}}">
                                        <img class="img-circle" width="30" src="{{ member.avatar_path }}" alt="{{ blog.get('blog_member').fullname }}" title="{{ blog.get('blog_member').fullname }}"/>
                                    </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div id="blog_detail_{{ blog.get('blog').id }}" class="popover-content">
                                        {% if blog.get('blog').post_type == 'NORMAL' %}
                                            <div class="tl-label bs-label bg-primary">
                                        {% elif blog.get('blog').post_type == 'REPEAT' %}
                                            <div class="tl-label bs-label bg-yellow">
                                        {% elif blog.get('blog').post_type == 'REPLAY' %}
                                            <div class="tl-label bs-label bg-black">
                                        {% endif %}
                                                <a href="/space/{{blog.get('blog_member').personality_url}}" style="color:white;">{{ blog.get('blog_member').fullname }}</a>
                                            </div>
                                        {% if blog.get('blog').post_type == 'NORMAL' %}
                                            <p class="tl-content" id="repeat_content_{{ blog.get('blog').id }}">
                                                {{ blog.get('blog').content }}
                                            </p>
                                            {% if blog.get('blog').exist_pic != 0 %}
                                                <p>
                                                    <input id="normal_exist_pic_{{ blog.get('blog').id }}" type="hidden" value="{{blog.get('blog').exist_pic}}">
                                                    <input id="normal_pic_path_{{ blog.get('blog').id }}" type="hidden" value="{{ blog.get('blog').pic_path }}">
                                                    <a class="image_popup_link" href="{{ blog.get('origin_pic_path') }}">
                                                        <img src="{{ blog.get('blog').pic_path }}">
                                                    </a>
                                                </p>
                                            {% endif %}
                                        {% elif blog.get('blog').post_type == 'REPEAT' %}
                                            
                                            <p class="tl-content" id="repeat_content_{{ blog.get('blog').id }}">
                                                {{ blog.get('blog').content }}

                                                {% if blog.get('blog').exist_pic != 0 %}
                                                    <a href="{{ blog.get('blog').pic_path }}" name="a">查看图片</a>
                                                {% endif %}

                                                {% for re_dict in blog.get('re_list') %}
                                                    //<a href="/space/{{re_dict.get('blog_member').personality_url}}" name=''>@{{re_dict.get('blog_member').fullname}}</a> : {{re_dict.get('blog').content}}
                                                    {% if re_dict.get('blog').exist_pic != 0 %}
                                                        <a href="{{ re_dict.get('blog').pic_path }}" name="a">查看图片</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i> {{ blog.get('blog').create_time }} 
                                            via {{ blog.get('blog').via }}

                                            <script type="text/javascript">
                                                $(function(){
                                                    // hover
                                                    $("#blog_detail_{{ blog.get('blog').id }}").hover(function(){
                                                        $("#blog_operate_{{ blog.get('blog').id }}").show();
                                                    },
                                                    function(){
                                                        $("#blog_operate_{{ blog.get('blog').id }}").hide();
                                                    }); 
                                                });
                                            </script>

                                            <div id="blog_operate_{{ blog.get('blog').id }}" class="blog_operate" style="display:none;"> 
                                                <input id="collect_flag_{{ blog.get('blog').id }}" type="hidden" value="{{ blog.get('collection') }}">
                                                
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-star"></i> 
                                                    {% if blog.get('collection') == 'uncollect' %}
                                                        <a id="blog_collect_{{ blog.get('blog').id }}" onclick="collect({{ blog.get('blog').id }});" style="cursor:pointer;">收藏</a> 
                                                    {% elif blog.get('collection') == 'collecting' %}
                                                        <a id="blog_collect_{{ blog.get('blog').id }}" onclick="collect({{ blog.get('blog').id }});" style="cursor:pointer;">取消收藏</a> 
                                                    {% else %}
                                                        系统错误
                                                    {% endif %}
                                                </span>

                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-share"></i> 
                                                    {% if blog.get('blog').exist_pic != 0 %}
                                                        <a id="blog_repeat_{{ blog.get('blog').id }}" 
                                                            onclick="repeat({{ blog.get('blog').id }}, '{{ blog.get('blog').content }}', {{ blog.get('blog_member').id}}, {{blog.get('blog').exist_pic}}, '{{ blog.get('blog_member').fullname}}', '{{ blog.get('blog_member').personality_url}}', '{{blog.get('blog').post_type}}', '{{ blog.get('blog').pic_path }}');" style="cursor:pointer;">转发</a> 
                                                    {% else %}
                                                        <a id="blog_repeat_{{ blog.get('blog').id }}" 
                                                            onclick="repeat({{ blog.get('blog').id }}, '{{ blog.get('blog').content }}', {{ blog.get('blog_member').id}}, {{blog.get('blog').exist_pic}}, '{{ blog.get('blog_member').fullname}}', '{{ blog.get('blog_member').personality_url}}', '{{blog.get('blog').post_type}}');" style="cursor:pointer;">转发</a> 
                                                    {% endif %}
                                                    <input type="hidden" id="re_member_fullname_{{ blog.get('blog').id }}" name="re_member_fullname_{{ blog.get('blog').id }}" value="{{ blog.get('blog_member').fullname}}">
                                                    <input type="hidden" id="re_member_personality_url_{{ blog.get('blog').id }}" name="re_member_personality_url_{{ blog.get('blog').id }}" value="{{ blog.get('blog_member').personality_url}}">
                                                </span>
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-remove"></i> 
                                                    <a id="del_blog_{{ blog.get('blog').id }}" onclick="delpost({{ blog.get('blog').id }});" style="cursor:pointer;">删除</a> 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="tl-row">
                            当前没有动态，为什么不发一条呢？
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}