{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="panel-layout">
        <div class="panel-box">

            <div class="panel-content image-box">
                <div class="ribbon">
                    <div class="bg-primary"><i class="glyph-icon icon-facebook"></i></div>
                </div>
                <div class="image-content font-white">

                    <div class="meta-box meta-box-bottom">
                        {% if member %}
                        <img src="{{ member.avatar_path }}" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">{{ member.fullname }}</h3>
                        <h4 class="meta-subheading">{{ member.autograph }}</h4>
                        {% else %}
                        <img src="../static/image/avatar/avatar.png" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">Error</h3>
                        <h4 class="meta-subheading">Error</h4>
                        {% endif %}
                    </div>

                </div>
                <img src="../static/image/blurred-bg-2.jpg" alt="">

            </div>
            <div class="panel-content pad15A bg-white radius-bottom-all-4">
                <div class="center-vertical">

                    <ul class="center-content list-group list-group-separator row mrg0A">
                        <li class="col-md-4">
                            <b>1,456</b>
                            <p class="font-gray">我关注的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">关注我的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">消息</p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="#" class="list-group-item active" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    首页
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @提到我的(1)
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    私信
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            热门话题
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    泡饭
                </a>
            </div>
        </div>
    </div>
    <div class="content-box mrg15B">
        <h3 class="content-box-header clearfix">
            Friends online
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial2.jpg"
                    alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial3.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial4.jpg"
                    alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial5.jpg"
                    alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial6.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
        </div>
    </div>

</div>                            
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="content-box bg-white post-box">
        <form name="post_form" action="/post" method="POST">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <textarea name="content" class="textarea-autosize" placeholder="你在做什么?"></textarea>
            <div class="button-pane">
                <a href="#" class="btn btn-md btn-link hover-white" title="">
                    <i class="glyph-icon icon-map-marker"></i>
                </a>
                <a href="#" class="btn btn-md btn-link hover-white" title="">
                    <i class="glyph-icon icon-picture-o"></i>
                </a>
                <a href="javascript:document.post_form.submit();" class="btn btn-md btn-post float-right btn-success" title="">
                    Share it!
                </a>
            </div>
        </form>
    </div>

    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                最新动态
            </h3>
            <div class="example-box-wrapper">
                <div class="timeline-box timeline-box-left">
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-red">
                                <img class="img-circle" width="30" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                                    alt="" />
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <!-- <div class="tl-label bs-label label-info">Appointment</div> -->
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Donec odio.Lorem ipsum dolor sit amet, consectetuer adipiscing
                                        elit. Donec odio.Lorem ipsum dolor sit amet, consectetuer
                                        adipiscing elit. Donec odio. 
                                        </p>
                                    <p>
                                        <a href="#" name="a"><img src="../static/image/testimonial1.jpg"></a>
                                    </p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i> a few seconds
                                        ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-primary">
                                <img class="img-circle" width="30" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                                    alt="" />
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="tl-label bs-label bg-yellow">Teleconference</div>
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Donec odio. </p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i> a few seconds
                                        ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-black">
                                <i class="glyph-icon icon-headphones"></i>
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="tl-label bs-label label-danger">Meeting</div>
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Donec odio. </p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i> a few seconds
                                        ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}