{% extends "base.html" %}

{% block title %}Message{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(function(){
        
            var csrftoken = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                url:"/receiver",
                type: "GET",
                error: function(){
                    alert('查询好友列表失败,请重试!');
                },
                success: function(results){
                    //alert(results);
                    var receivers = jQuery.parseJSON(results); 

                    var selObj = $("#receiver_id");
                    for (var i = 0; i < receivers.length; i++) {
                        selObj.append("<option value='"+receivers[i].id+"'>"+receivers[i].fullname +" ("+receivers[i].personality_url+")"+"</option>");
                    }
                    
                }
            });


            $("#send_msg").click(function(){
                alert($("#receiver_id").val());
                alert($("#msg_content").val());
                alert($("#msg_type").val());
                alert($("#re_msg_id").val());

                var data = {
                    data: JSON.stringify({
                        "receiver_id": $("#receiver_id").val(),
                        "msg_content": $("#msg_content").val(),
                        "msg_type": $("#msg_type").val(),
                        "re_msg_id": $("#re_msg_id").val()
                    })
                };

                $.ajax({
                url:"/sender",
                type: "POST",
                data: data,
                error: function(){
                    alert('发送消息失败,请重试!');
                },
                success: function(results){
                    alert(results);
                    // var receivers = jQuery.parseJSON(results); 

                    // var selObj = $("#receiver_id");
                    // for (var i = 0; i < receivers.length; i++) {
                    //     selObj.append("<option value='"+receivers[i].id+"'>"+receivers[i].fullname +" ("+receivers[i].personality_url+")"+"</option>");
                    // }
                    
                }
            });
                
            });


        });

    </script>
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="panel-layout">
        <div class="panel-box">

            <div class="panel-content image-box">
                <div class="ribbon">
                    <div class="bg-primary"><i class="glyph-icon icon-facebook"></i></div>
                </div>
                <div class="image-content font-white">

                    <div class="meta-box meta-box-bottom">
                        <img src="../static/image/gravatar.jpg.png" tppabs="https://agileui.com/demo/monarch/assets/image-resources/gravatar.jpg" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">Alex Rosenberg</h3>
                        <h4 class="meta-subheading">Ultimate backend programmer</h4>
                    </div>

                </div>
                <img src="../static/image/blurred-bg-2.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/blurred-bg/blurred-bg-13.jpg"
                    alt="">

            </div>
            <div class="panel-content pad15A bg-white radius-bottom-all-4">
                <div class="center-vertical">

                    <ul class="center-content list-group list-group-separator row mrg0A">
                        <li class="col-md-4">
                            <b>1,456</b>
                            <p class="font-gray">我关注的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">关注我的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">消息</p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    首页
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @提到我的(1)
                </a>
                <a href="#" class="list-group-item active" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    私信
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            热门话题
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    泡饭
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    泡饭
                </a>
            </div>
        </div>
    </div>
    <div class="content-box mrg15B">
        <h3 class="content-box-header clearfix">
            Friends online
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial1.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial2.jpg"
                    alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial3.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial4.jpg"
                    alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial5.jpg"
                    alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../static/image/testimonial1.jpg" tppabs="https://agileui.com/demo/monarch/assets/image-resources/people/testimonial6.jpg"
                    alt="" />
                <div class="small-badge bg-red"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="content-box bg-white post-box">

        <form name="post_form" action="" method="POST">
            <input type="hidden" id="msg_type" name="msg_type" value="NORMAL">
            <input type="hidden" id="re_msg_id" name="re_msg_id" value="0">

            <div id="re_content" class="content-box-wrapper bg-default">
                <p>
                    <textarea id="msg_content" name="msg_content" class="textarea-no-resize" style="padding:0px;" placeholder="和我聊聊天吧"></textarea>
                </p>
            </div>
                
            <div class="button-pane">
                <div class="col-sm-6">
                    <select id="receiver_id" class="form-control">
                        <option value="0">选择收信人</option>
                    </select>
                </div>
                <a id="send_msg" class="btn btn-md btn-post float-right btn-success" title="">
                    Send
                </a>
            </div>
        </form>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#send" aria-controls="send" role="tab" data-toggle="tab">我收到的私信</a></li>
        <li role="presentation"><a href="#receive" aria-controls="receive" role="tab" data-toggle="tab">我发出的私信</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="send">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        send
                    </h3>
                    <div class="example-box-wrapper">

                        <form class="form-horizontal bordered-row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                目前还没有私信。
                            </div>
                        </div>
                        </form>
                        <div class="content-box">
                            <div class="content-box-wrapper" style="padding:10px;">
                                <a href="/~vW36HOjXC8Y" title="obinphy" style="float:left;margin:5px;">
                                    <img class="img-circle" width="40" src="http://avatar.fanfou.com/s0/00/00/00.jpg"/>
                                </a>
                                来自：<a href="">@obinphy</a>
                                <p class="tl-content"  style="min-height:25px;margin-left:50px;">
                                    测试，a
                                </p>
                                <div class="tl-time" style="margin-left:50px;margin-top:5px;">
                                    <i class="glyph-icon icon-clock-o"></i> 2016-07-12 11:27:53 
                                    via Web 
                                </div>
                                <div class="alert alert-info" style="margin-left:50px;margin-top:5px;">
                                    <p>回复内容：Information message box using the <code>.alert-info</code> color scheme. <a href="#" title="Link">Link</a></p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="receive">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        recieve
                    </h3>
                    <div class="example-box-wrapper">
                        <form class="form-horizontal bordered-row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    目前还没有私信。
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}