{% extends "base.html" %}

{% block title %}Message{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(function(){
        
            var csrftoken = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('.image_popup_link').magnificPopup({
                type: 'image'
                // other options
            });

            $.ajax({
                url:"/receiver",
                type: "GET",
                error: function(){
                    alert('查询好友列表失败,请重试!');
                },
                success: function(results){
                    //alert(results);
                    var receivers = jQuery.parseJSON(results); 

                    var selObj = $("#receiver_id");
                    for (var i = 0; i < receivers.length; i++) {
                        selObj.append("<option value='"+receivers[i].id+"'>"+receivers[i].fullname +" ("+receivers[i].personality_url+")"+"</option>");
                    }
                    
                }
            });


            $("#send_msg").click(function(){
                // alert($("#receiver_id").val());
                // alert($("#msg_content").val());
                // alert($("#msg_type").val());
                // alert($("#re_msg_id").val());

                var data = {
                    data: JSON.stringify({
                        "receiver_id": $("#receiver_id").val(),
                        "msg_content": $("#msg_content").val(),
                        "msg_type": $("#msg_type").val(),
                        "re_msg_id": $("#re_msg_id").val()
                    })
                };

                $.ajax({
                url:"/sender",
                type: "POST",
                data: data,
                error: function(){
                    alert('发送消息失败,请重试!');
                },
                success: function(results){
                    // alert(results);
                    var msg_info = jQuery.parseJSON(results); 

                    $('#msgTabs a[href="#send"]').tab('show');

                    var replay_box = "";

                    if ($("#msg_type").val() == "REPLAY") {
                        replay_box =
                            '<div class="alert alert-info" style="margin-left:50px;margin-top:5px;margin-bottom:10px;">' +
                                '<p>回复内容：Information message box using the <code>.alert-info</code> color scheme. <a href="#" title="Link">Link</a></p>' +
                            '</div>';
                    }

                    msg_box = 
                        '<div class="content-box" id="msg_info_'+ msg_info.msg_lid +'">' +
                            '<div class="content-box-wrapper" style="padding:10px;">' +
                                '<a href="/space/'+ msg_info.p_url +'" title="'+ msg_info.rfullname +'" style="float:left;margin:5px;">' +
                                    '<img class="img-circle" width="40" src="../static/'+msg_info.ravatar_path+'"/>' +
                                '</a>' +
                                '发给：<a href="/space/'+ msg_info.p_url +'">@'+ msg_info.rfullname +'</a>' +
                                '<p class="tl-content"  style="min-height:25px;margin-left:50px;">' +
                                    $("#msg_content").val() +
                                '</p>' +
                                replay_box +
                                '<div class="tl-time" style="margin-left:50px;margin-top:5px;">' +
                                    '<i class="glyph-icon icon-clock-o"></i> ' +
                                    msg_info.send_time +

                                    '<div class="blog_operate">' +
                                        '<span class="operate_content">' +
                                            '<i class="glyph-icon icon-remove"></i> ' +
                                                '<a id="" onclick="delmsg('+ msg_info.msg_lid +', 1);" style="cursor:pointer;">删除</a> ' +
                                        '</span>' +
                                    '</div>' +

                                '</div>' +
                            '</div>' +
                        '</div>';

                    $("#msg_box").append(msg_box);
                    $("#msg_content").val('');
                }
                });
                
            });

            $('#msgTabs a[href="#send"]').click(function (e) {
                // e.preventDefault();
                // alert('haha');
                // $(this).tab('show');

                $.ajax({
                    url:"/sendlist",
                    type: "GET",
                    error: function(){
                        alert('查询已发送消息失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        var msg_info_list = jQuery.parseJSON(results); 
                        // alert(msg_info[0].content)

                        if (msg_info_list.length == 0) {
                            msg_box = 
                                '<div class="form-group">' +
                                    '<label class="col-sm-3 control-label"></label>' +
                                    '<div class="col-sm-6">' +
                                        '目前还没有发过私信。' +
                                    '</div>' +
                                '</div>';
                            $("#msg_box_list").html(msg_box);
                        } else {
                            for(var i = 0; i < msg_info_list.length; i++) {

                                var replay_box = "";

                                if (msg_info_list[i].message_type == "REPLAY") {
                                    replay_box =
                                        '<div class="alert alert-info" style="margin-left:50px;margin-top:5px;margin-bottom:10px;">' +
                                            '<p>回复内容：' + msg_info_list[i].re_msg_content + '</p>' +
                                        '</div>';
                                }

                                msg_box = 
                                    '<div class="content-box" id="msg_info_'+ msg_info_list[i].msg_lid +'">' +
                                        '<div class="content-box-wrapper" style="padding:10px;">' +
                                            '<a href="/space/'+ msg_info_list[i].mp_url +'" title="'+ msg_info_list[i].mfullname +'" style="float:left;margin:5px;">' +
                                                '<img class="img-circle" width="40" src="../static/'+ msg_info_list[i].mavatar_path +'"/>' +
                                            '</a>' +
                                            '发给：<a href="/space/'+ msg_info_list[i].p_url +'">@'+ msg_info_list[i].rfullname +'</a>' +
                                            '<p class="tl-content"  style="min-height:25px;margin-left:50px;">' +
                                                msg_info_list[i].content +
                                            '</p>' +
                                            replay_box +
                                            '<div class="tl-time" style="margin-left:50px;margin-top:5px;">' +
                                                '<i class="glyph-icon icon-clock-o"></i> ' +
                                                msg_info_list[i].send_time +

                                                '<div class="blog_operate">' +
                                                    '<span class="operate_content">' +
                                                        '<i class="glyph-icon icon-remove"></i> ' +
                                                            '<a id="" onclick="delmsg('+ msg_info_list[i].msg_lid +', 1);" style="cursor:pointer;">删除</a> ' +
                                                    '</span>' +
                                                '</div>' +

                                            '</div>' +
                                        '</div>' +
                                    '</div>';

                                $("#msg_box_list").append(msg_box);

                            }    
                        }

                        $('#msgTabs a[href="#send"]').tab('show');
                    }
                });
            });


            $("#replay_msg").click(function(){
                // alert($("#receiver_id").val());
                // alert($("#msg_content").val());
                // alert($("#msg_type").val());
                // alert($("#re_msg_id").val());

                var data = {
                    data: JSON.stringify({
                        "receiver_id": $("#reer_id").val(),
                        "msg_content": $("#replay_content").val(),
                        "msg_type": "REPLAY",
                        "re_msg_id": $("#rmsg_id").val()
                    })
                };

                $.ajax({
                    url:"/sender",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('发送消息失败,请重试!');
                    },
                    success: function(results){
                        
                        $('#myModal').modal('hide');

                        $.ajax({
                            url:"/sendlist",
                            type: "GET",
                            error: function(){
                                alert('查询已发送消息失败,请重试!');
                            },
                            success: function(results){
                                // alert(results);
                                var msg_info_list = jQuery.parseJSON(results); 
                                // alert(msg_info[0].content)

                                if (msg_info_list.length == 0) {
                                    msg_box = 
                                        '<div class="form-group">' +
                                            '<label class="col-sm-3 control-label"></label>' +
                                            '<div class="col-sm-6">' +
                                                '目前还没有发过私信。' +
                                            '</div>' +
                                        '</div>';
                                    $("#msg_box_list").html(msg_box);
                                } else {
                                    for(var i = 0; i < msg_info_list.length; i++) {

                                        var replay_box = "";

                                        if (msg_info_list[i].message_type == "REPLAY") {
                                            replay_box =
                                                '<div class="alert alert-info" style="margin-left:50px;margin-top:5px;margin-bottom:10px;">' +
                                                    '<p>回复内容：' + msg_info_list[i].re_msg_content + '</p>' +
                                                '</div>';
                                        }

                                        msg_box = 
                                            '<div class="content-box" id="msg_info_'+ msg_info_list[i].msg_lid +'">' +
                                                '<div class="content-box-wrapper" style="padding:10px;">' +
                                                    '<a href="/space/'+ msg_info_list[i].mp_url +'" title="'+ msg_info_list[i].mfullname +'" style="float:left;margin:5px;">' +
                                                        '<img class="img-circle" width="40" src="../static/'+ msg_info_list[i].mavatar_path +'"/>' +
                                                    '</a>' +
                                                    '发给：<a href="/space/'+ msg_info_list[i].p_url +'">@'+ msg_info_list[i].rfullname +'</a>' +
                                                    '<p class="tl-content"  style="min-height:25px;margin-left:50px;">' +
                                                        msg_info_list[i].content +
                                                    '</p>' +
                                                    replay_box +
                                                    '<div class="tl-time" style="margin-left:50px;margin-top:5px;">' +
                                                        '<i class="glyph-icon icon-clock-o"></i> ' +
                                                        msg_info_list[i].send_time +

                                                        '<div class="blog_operate">' +
                                                            '<span class="operate_content">' +
                                                                '<i class="glyph-icon icon-remove"></i> ' +
                                                                    '<a id="" onclick="delmsg('+ msg_info_list[i].msg_lid +', 1);" style="cursor:pointer;">删除</a> ' +
                                                            '</span>' +
                                                        '</div>' +

                                                    '</div>' +
                                                '</div>' +
                                            '</div>';

                                        $("#msg_box_list").append(msg_box);

                                    }    
                                }

                                $('#msgTabs a[href="#send"]').tab('show');
                            }
                        });
                    }
                });
                
            });

        });


        function delmsg(msg_id, del_type) {
            alert(msg_id);
            alert(del_type)
            var data = {
                data: JSON.stringify({
                    "msg_id": msg_id, 
                    "del_type": del_type
                })
            };
            if(confirm("你确定删除这条消息吗？（不可恢复）")){
                $.ajax({
                    url:"/delmsg",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('删除失败,请稍后重试!');
                    },
                    success: function(results){
                        alert(results);
                        $("#msg_info_" + msg_id).remove();
                    }
                });
            }
        }

        function replay(id, receiver_id, p_url, fullname, apath, content, sendtime) {

            var box = 
                '<div class="content-box">' +
                    '<div class="content-box-wrapper" style="padding:10px;">' +
                        '<a href="/space/'+p_url+'" title="'+ fullname +'" style="float:left;margin:5px;">' +
                            '<img class="img-circle" width="40" src="../static/'+ apath +'"/>' +
                        '</a>' +
                        '来自：<a href="/space/'+p_url+'">@'+ fullname +'</a>' +
                        '<div class="alert alert-info" style="margin-left:50px;margin-top:5px;margin-bottom:10px;">' +
                            '<p id="source_content">原文内容：'+ content +'</p>' +
                        '</div>' +
                        '<div class="tl-time" style="margin-left:50px;margin-top:5px;">' +
                            '<i class="glyph-icon icon-clock-o"></i> ' +
                            sendtime + 
                        '</div>' +
                    '</div>' +
                '</div>';

            $("#modal_body").prepend(box);

            $("#rmsg_id").val(id);
            $("#reer_id").val(receiver_id);

            $('#myModal').modal('show');
        }

    </script>
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="panel-layout">
        <div class="panel-box">

            <div class="panel-content image-box">
                <div class="ribbon">
                    <div class="bg-primary"><i class="glyph-icon icon-facebook"></i></div>
                </div>
                <div class="image-content font-white">

                    <div class="meta-box meta-box-bottom">
                        <img src="{{ url_for('.static', filename=avatar_path) }}" style="width:90px;height:90px;" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">{{fullname}}</h3>
                        <h4 class="meta-subheading">{{autograph}}</h4>
                    </div>

                </div>
                <img src="{{ url_for('.static', filename='image/blurred-bg-2.jpg') }}" alt="">

            </div>
            <div class="panel-content pad15A bg-white radius-bottom-all-4">
                <div class="center-vertical">

                    <ul class="center-content list-group list-group-separator row mrg0A">
                        <li class="col-md-4">
                            <b>{{ following_count }}</b>
                            <p class="font-gray">我关注的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>{{ fans_count }}</b>
                            <p class="font-gray">关注我的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>{{ blog_count }}</b>
                            <p class="font-gray">消息</p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="/index" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    首页
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @提到我的(1)
                </a>
                <a href="/messages" class="list-group-item active" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    私信
                </a>
                <a href="/collections/{{ personality_url }}" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="/photo" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            热门话题
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    测试
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    @测试
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    测试
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    测试
                </a>
                <a href="#" onclick="ttab();" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    测试
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">回复</h4>
            </div>
            <div id="modal_body" class="modal-body">

                <p id="re_from_content_p" style="margin-bottom:5px;"></p>
                <p>
                    <textarea id="replay_content" name="replay_content" class="form-control textarea-no-resize" rows="4" style="padding:10px;margin:0px;" placeholder="回复内容"></textarea>
                    <input type="hidden" id="rmsg_id" name="rmsg_id" value="0">
                    <input type="hidden" id="reer_id" name="reer_id" value="0">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="replay_msg" type="button" class="btn btn-primary">回复</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="content-box bg-white post-box">

        <form name="post_form" action="" method="POST">
            <input type="hidden" id="msg_type" name="msg_type" value="NORMAL">
            <input type="hidden" id="re_msg_id" name="re_msg_id" value="0">

            <div id="re_content" class="content-box-wrapper bg-default">
                <p>
                    <textarea id="msg_content" name="msg_content" class="textarea-no-resize" style="padding:0px;" placeholder="和她聊聊天吧"></textarea>
                </p>
            </div>
                
            <div class="button-pane">
                <div class="col-sm-6">
                    <select id="receiver_id" class="form-control">
                        <option value="0">选择收信人</option>
                    </select>
                </div>
                <a id="send_msg" class="btn btn-md btn-post float-right btn-success" title="">
                    Send
                </a>
            </div>
        </form>
    </div>

    <!-- Nav tabs -->
    <ul id="msgTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#receive" aria-controls="receive" role="tab" data-toggle="tab">我收到的私信</a></li>
        <li role="presentation"><a href="#send" aria-controls="send"  role="tab">我发出的私信</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="receive">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        recieve
                    </h3>
                    {% if msg_list %}
                        {% for msg in msg_list %}
                            <div class="example-box-wrapper" id="msg_info_{{ msg.msg_lid }}">
                                <div class="content-box">
                                    <div class="content-box-wrapper" style="padding:10px;">
                                        <a href="/space/{{ msg.sp_url }}" title="{{ msg.sfullname }}" style="float:left;margin:5px;">
                                            <img class="img-circle" width="40" src="{{ url_for('.static', filename=msg.savatar_path) }}"/>
                                        </a>
                                        来自：<a href="/space/{{ msg.sp_url }}">@{{ msg.sfullname }}</a>
                                        <p class="tl-content"  style="min-height:25px;margin-left:50px;">
                                            {{ msg.content }}
                                        </p>
                                        {% if msg.message_type == 'REPLAY' %}
                                        <div class="alert alert-info" style="margin-left:50px;margin-top:5px;margin-bottom:10px;">
                                            <p>回复内容：{{ msg.re_msg_content }}</p>
                                        </div>
                                        {% endif %}
                                        <div class="tl-time" style="margin-left:50px;margin-top:5px;">
                                            <i class="glyph-icon icon-clock-o"></i> {{ msg.send_time }}
                                            <div class="blog_operate">
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-share"></i> 
                                                        <a id="" onclick="replay({{ msg.msg_lid }}, {{msg.sender_id}}, '{{ msg.sp_url }}', '{{ msg.sfullname }}', '{{ msg.savatar_path }}', '{{ msg.content }}', '{{ msg.send_time }}');" style="cursor:pointer;">回复</a> 
                                                </span>
                                                <span class="operate_content">
                                                    <i class="glyph-icon icon-remove"></i> 
                                                        <a id="" onclick="delmsg({{ msg.msg_lid }}, 2);" style="cursor:pointer;">删除</a> 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="example-box-wrapper">
                            <form class="form-horizontal bordered-row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        目前还没有私信。
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="send">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        send
                    </h3>
                    <div class="example-box-wrapper">

                        <div id="msg_box"></div>
                        <div id="msg_box_list"></div>

                        <!-- <div class="content-box">
                            <div class="content-box-wrapper" style="padding:10px;">
                                <a href="/~vW36HOjXC8Y" title="obinphy" style="float:left;margin:5px;">
                                    <img class="img-circle" width="40" src="http://avatar.fanfou.com/s0/00/00/00.jpg"/>
                                </a>
                                来自：<a href="">@obinphy</a>
                                <p class="tl-content"  style="min-height:25px;margin-left:50px;">
                                    测试，a
                                </p>
                                <div class="alert alert-info" style="margin-left:50px;margin-top:5px;margin-bottom:10px;">
                                    <p>回复内容：Information message box using the <code>.alert-info</code> color scheme. <a href="#" title="Link">Link</a></p>
                                </div>
                                <div class="tl-time" style="margin-left:50px;margin-top:5px;">
                                    <i class="glyph-icon icon-clock-o"></i> 2016-07-12 11:27:53 
                                    via Web 
                                    <div class="blog_operate">
                                        <span class="operate_content">
                                            <i class="glyph-icon icon-share"></i> 
                                                <a id="" onclick="" style="cursor:pointer;">回复</a> 
                                        </span>
                                        <span class="operate_content">
                                            <i class="glyph-icon icon-remove"></i> 
                                                <a id="" onclick="" style="cursor:pointer;">删除</a> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}