<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        /* Loading Spinner */
        
        .spinner {
            margin: 0;
            width: 70px;
            height: 18px;
            margin: -35px 0 0 -9px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center
        }
        
        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both
        }
        
        .spinner .bounce1 {
            -webkit-animation-delay: -.32s;
            animation-delay: -.32s
        }
        
        .spinner .bounce2 {
            -webkit-animation-delay: -.16s;
            animation-delay: -.16s
        }
        
        @-webkit-keyframes bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0.0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }
        
        @keyframes bouncedelay {
            0%,
            80%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0)
            }
            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0)
            }
        }
    </style>


    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> Photo </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style/admin-all-demo.css')}}">

    <script src="{{ url_for('.static', filename='js/jquery-1.11.2.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/basilinna.js')}}"></script>

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='plugin/magnific_popup/magnific-popup.css')}}">

    <!-- Magnific Popup core JS file -->
    <script src="{{ url_for('.static', filename='plugin/magnific_popup/jquery.magnific-popup.min.js')}}"></script>

    <script type="text/javascript">

        $(function(){

            $('.image_popup_link').magnificPopup({
                type: 'image'
                // other options
            });

        });

        function collect(blog_id) {
                
            var link = $("#blog_icon_" + blog_id);
            var collect_flag = $("#collect_flag_" + blog_id).val();

            var data = {
                data: JSON.stringify({
                    "blog_id": blog_id
                })
            };

            if (collect_flag == "uncollect") {
                $.ajax({
                    url:"/collect",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('提交失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        $("#collect_flag_" + blog_id).val("collecting");
                        
                        link.attr("class", "glyph-icon icon-star font-yellow");
                        link.attr("title", "取消收藏");
                    }
                });
            } else if (collect_flag == "collecting") {
                $.ajax({
                    url:"/uncollect",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('提交失败,请重试!');
                    },
                    success: function(results){
                        // alert(results);
                        $("#collect_flag_" + blog_id).val("uncollect");
                        link.attr("class", "glyph-icon icon-star");
                        link.attr("title", "收藏");
                    }
                });
            } else {
                alert("收藏失败，请稍后重试。");
            }
        }

        function delpost(blog_id) {
            var data = {
                data: JSON.stringify({
                    "blog_id": blog_id
                })
            };
            if(confirm("你确定删除这条消息吗？")){
                $.ajax({
                    url:"/delpost",
                    type: "POST",
                    data: data,
                    error: function(){
                        alert('删除失败,请稍后重试!');
                    },
                    success: function(results){
                        // alert(results);
                        $("#photo_tl_"+blog_id).remove();
                    }
                });
            }
        }

    </script>

</head>


<body>
    <div id="sb-site">

        <!-- <div id="loading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div> -->

        <div id="page-wrapper">
            <div id="page-header" class="bg-gradient-9">
                <div id="header-logo" class="logo-bg">
                    <a href="index.html" class="logo-content-big" title="MonarchUI">
                        Monarchsss <i>UI</i>
                        <span>The perfect solution for user interfaces</span>
                    </a>
                </div>
                <div id="header-nav-left">
                    <a href="">
                        <!-- <img src="image/slogan.png"> -->
                    </a>
                </div>
                <!-- #header-nav-left -->

                <div id="header-nav-right">
                    
                    <a href="index" class="header-btn" title="Home">
                        <i class="glyph-icon icon-home"></i>
                    </a>
                    <a href="space" class="header-btn" title="Space">
                        <i class="glyph-icon icon-star"></i>
                    </a>
                    <a href="messages" class="header-btn" title="Private Message">
                        <span class="small-badge bg-yellow"></span>
                        <i class="glyph-icon icon-send"></i>
                    </a>
                    <a href="explore" class="header-btn" title="Explore">
                        <i class="glyph-icon icon-th"></i>
                    </a>
                    <a href="search" class="header-btn" title="Search">
                        <i class="glyph-icon icon-search"></i>
                    </a>
                    <a href="setting" class="header-btn" title="Setting">
                        <i class="glyph-icon icon-cog"></i>
                    </a>
                    <a href="logout" class="header-btn" id="logout-btn" title="Logout">
                        <i class="glyph-icon icon-power-off"></i>
                    </a>
                </div>
                <!-- #header-nav-right -->

            </div>
            <div id="page-content-wrapper">
                <div id="page-content">

                    <div class="container">
                        <div class="panel">
                            <div class="panel-body">
                                <h3 class="title-hero">
                                    我的照片
                                    <small>共 {{ img_count }} 张 | <a href="/index">返回我的主页</a></small>
                                </h3>
                                <div class="example-box-wrapper">
                                    <div class="row">
                                        
                                        {% if blog_info_list %}
                                            {% for blog in blog_info_list %}

                                            <div id="photo_tl_{{ blog.get('blog_id') }}" class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="thumbnail-box">
                                                    <div class="thumb-content">
                                                        <div class="center-vertical">
                                                            <div class="center-content">
                                                                <div class="thumb-btn animated bounceInDown">

                                                                    <input id="collect_flag_{{ blog.get('blog_id') }}" type="hidden" value="{{ blog.get('collection') }}">
                                                                    {% if blog.get('collection') == 'uncollect' %}
                                                                        <a href="#" class="btn btn-md btn-round btn-info" title="收藏"
                                                                            id="blog_collect_{{ blog.get('blog_id') }}" onclick="collect({{ blog.get('blog_id') }});">
                                                                            <i id="blog_icon_{{ blog.get('blog_id') }}" class="glyph-icon icon-star"></i>
                                                                        </a>
                                                                    {% elif blog.get('collection') == 'collecting' %}
                                                                        <a href="#" class="btn btn-md btn-round btn-info" title="取消收藏"
                                                                            id="blog_collect_{{ blog.get('blog_id') }}" onclick="collect({{ blog.get('blog_id') }});">
                                                                            <i id="blog_icon_{{ blog.get('blog_id') }}" class="glyph-icon icon-star font-yellow"></i>
                                                                        </a>
                                                                    {% else %}
                                                                        系统错误
                                                                    {% endif %}

                                                                    <a href="/blog/{{ blog.get('blog_id') }}" class="btn btn-md btn-round btn-yellow" title="详细">
                                                                        <i class="glyph-icon icon-share"></i> 
                                                                    </a>

                                                                    <a class="btn btn-md btn-round btn-purple image_popup_link" href="{{ url_for('.static', filename=blog.get('origin_pic_path')) }}" title="原图">
                                                                        <i class="glyph-icon icon-search"></i>
                                                                    </a>

                                                                    <a href="#" id="del_blog_{{ blog.get('blog_id') }}" onclick="delpost({{ blog.get('blog_id') }});"
                                                                         class="btn btn-md btn-round btn-danger" title="删除">
                                                                        <i class="glyph-icon icon-remove"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="thumb-overlay bg-primary"></div>
                                                    <img src="{{ url_for('.static', filename=blog.get('origin_pic_path')) }}" alt="">
                                                </div>
                                            </div>

                                            {% endfor %}
                                        {% else %}
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                目前没有照片.
                                            </div>
                                        {% endif %}
                                        
                                        
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>