<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        /* Loading Spinner */
        
        .spinner {
            margin: 0;
            width: 70px;
            height: 18px;
            margin: -35px 0 0 -9px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center
        }
        
        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both
        }
        
        .spinner .bounce1 {
            -webkit-animation-delay: -.32s;
            animation-delay: -.32s
        }
        
        .spinner .bounce2 {
            -webkit-animation-delay: -.16s;
            animation-delay: -.16s
        }
        
        @-webkit-keyframes bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0.0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }
        
        @keyframes bouncedelay {
            0%,
            80%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0)
            }
            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0)
            }
        }
    </style>


    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> Setting </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style/admin-all-demo.css')}}">

    <script src="{{ url_for('.static', filename='js/jquery-1.11.2.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/basilinna.js')}}"></script>

    <!-- jquery cities -->
    <script src="{{ url_for('.static', filename='plugin/jquery_cities/jquery.cities.js')}}"></script>

</head>


<body>
    <div id="sb-site">

        <!-- <div id="loading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div> -->

        <div id="page-wrapper">
            <div id="page-header" class="bg-gradient-9">
                <div id="header-logo" class="logo-bg">
                    <a href="index.html" class="logo-content-big" title="MonarchUI">
                        Monarchsss <i>UI</i>
                        <span>The perfect solution for user interfaces</span>
                    </a>
                </div>
                <div id="header-nav-left">
                    <a href="">
                        <!-- <img src="image/slogan.png"> -->
                    </a>
                </div>
                <!-- #header-nav-left -->

                <div id="header-nav-right">
                    
                    <a href="index" class="header-btn" title="Home">
                        <i class="glyph-icon icon-home"></i>
                    </a>
                    <a href="space" class="header-btn" title="Space">
                        <i class="glyph-icon icon-star"></i>
                    </a>
                    <a href="messages" class="header-btn" title="Private Message">
                        <span class="small-badge bg-yellow"></span>
                        <i class="glyph-icon icon-send"></i>
                    </a>
                    <a href="explore" class="header-btn" title="Explore">
                        <i class="glyph-icon icon-th"></i>
                    </a>
                    <a href="search" class="header-btn" title="Search">
                        <i class="glyph-icon icon-search"></i>
                    </a>
                    <a href="setting" class="header-btn" title="Setting">
                        <i class="glyph-icon icon-cog"></i>
                    </a>
                    <a href="logout" class="header-btn" id="logout-btn" title="Logout">
                        <i class="glyph-icon icon-power-off"></i>
                    </a>
                </div>
                <!-- #header-nav-right -->

            </div>
            <div id="page-content-wrapper">
                <div id="page-content">

                    <div class="container">

                        <div class="row mailbox-wrapper">
                            <div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">基本信息</a></li>
                                    <li role="presentation"><a href="#hobby" aria-controls="hobby" role="tab" data-toggle="tab">兴趣爱好</a></li>
                                    <li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">账号密码</a></li>
                                    <li role="presentation"><a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab">隐私</a></li>
                                    <li role="presentation"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">通知</a></li>
                                    <li role="presentation"><a href="#template" aria-controls="template" role="tab" data-toggle="tab">模板</a></li>
                                    <li role="presentation"><a href="#sync" aria-controls="sync" role="tab" data-toggle="tab">同步</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="basic">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero">
                                                    设定个人信息
                                                </h3>
                                                <div class="example-box-wrapper">

                                                    <div id="validate_error" class="alert alert-danger" style="display:none;">
                                                        <p id="error_msg">error_message</p>
                                                    </div>

                                                    <form action="/setting_info" method="POST" class="form-horizontal bordered-row">
                                                        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">昵称</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="fullname" name="fullname" 
                                                                    value="{{member.fullname}}" onfocus="if(this.value=='{{member.fullname}}'){this.value=''}" 
                                                                    onblur="validate(check_fullname('fullname', '{{member.fullname}}'), 'validate_error', 'error_msg', '不超过 4 - 12 个字符，请勿使用特殊字符');" placeholder="{{member.fullname}}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">个性域名</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="personality_url" name="personality_url"
                                                                    value="{{member.personality_url}}" onfocus="if(this.value=='{{member.personality_url}}'){this.value=''}" 
                                                                    onblur="validate(check_purl('personality_url', '{{member.personality_url}}'), 'validate_error', 'error_msg', '不超过 6 - 20 个字符，请勿使用特殊字符');" placeholder="{{member.personality_url}}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">性别</label>
                                                            <div class="col-sm-2">
                                                                <select id="gender" name="gender" class="form-control">
                                                                    <option value="0">- 请选择 -</option>
                                                                    <option value="1">男</option>
                                                                    <option value="2">女</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">生日</label>
                                                            <div class="col-sm-2">
                                                                <input type="text" class="form-control" id="year" name="year" 
                                                                    onfocus="if(this.value=='{{member.year}}'){this.value=''}"
                                                                    onblur="validate(check_year('year', '{{member.year}}'), 'validate_error', 'error_msg', '年份应介于 1900 - 2016 之间');"
                                                                    value="{{member.year}}" placeholder="年">
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select id="month" name="month" class="form-control">
                                                                    <option value="0">月</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select id="day" name="day" class="form-control">
                                                                    <option value="0">日</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                    <option value="13">13</option>
                                                                    <option value="14">14</option>
                                                                    <option value="15">15</option>
                                                                    <option value="16">16</option>
                                                                    <option value="17">17</option>
                                                                    <option value="18">18</option>
                                                                    <option value="19">19</option>
                                                                    <option value="20">20</option>
                                                                    <option value="21">21</option>
                                                                    <option value="22">22</option>
                                                                    <option value="23">23</option>
                                                                    <option value="24">24</option>
                                                                    <option value="25">25</option>
                                                                    <option value="26">26</option>
                                                                    <option value="27">27</option>
                                                                    <option value="28">28</option>
                                                                    <option value="29">29</option>
                                                                    <option value="30">30</option>
                                                                    <option value="31">31</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="location" class="form-group">
                                                            <label class="col-sm-3 control-label">所在地</label>
                                                            <div class="col-sm-2">
                                                                <select id="location_province" name="location_province" class="form-control"></select>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select id="location_city" name="location_city" class="form-control"></select>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select id="location_area" name="location_area" class="form-control"></select>
                                                            </div>
                                                        </div>
                                                        <script type="text/javascript">
                                                            $('#location').citys({
                                                                provinceField: 'location_province',
                                                                cityField: 'location_city',
                                                                areaField: 'location_area',
                                                                required:false,
                                                                nodata:'disabled',
                                                                onChange:function(data){
                                                                    // var text = data['direct']?'(直辖市)':'';
                                                                    // $('#place').text('当前选中地区：'+data['province']+text+' '+data['city']+' '+data['area']);
                                                                }
                                                            });
                                                            // $('#location').citys({province:'福建',city:'厦门',area:'思明'});
                                                        </script>
                                                        <div id="hometown" class="form-group">
                                                            <label class="col-sm-3 control-label">家乡</label>
                                                            <div class="col-sm-2">
                                                                <select id="hometown_province" name="hometown_province" class="form-control"></select>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select id="hometown_city" name="hometown_city" class="form-control"></select>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <select id="hometown_area" name="hometown_area" class="form-control"></select>
                                                            </div>
                                                        </div>
                                                        <script type="text/javascript">
                                                            $('#hometown').citys({
                                                                provinceField: 'hometown_province',
                                                                cityField: 'hometown_city',
                                                                areaField: 'hometown_area',
                                                                required:false,
                                                                nodata:'disabled',
                                                                onChange:function(data){
                                                                    // var text = data['direct']?'(直辖市)':'';
                                                                    // $('#place').text('当前选中地区：'+data['province']+text+' '+data['city']+' '+data['area']);
                                                                }
                                                            });
                                                            //$('#hometown').citys({hometown_province:'福建',hometown_city:'厦门',hometown_area:'思明'});
                                                        </script>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">个性签名</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="autograph" name="autograph" 
                                                                    value="{{member.autograph}}" onfocus="if(this.value=='{{member.autograph}}'){this.value=''}" 
                                                                    onblur="validate(check_autograph('autograph', '{{member.autograph}}'), 'validate_error', 'error_msg', '不超过 128 个字符，请勿使用特殊字符');" class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">自述</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="description" id="description" class="form-control">{{member.description}}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <button onclick="return validateInfo('{{member.fullname}}', '{{member.personality_url}}', '{{member.year}}', '{{member.autograph}}');" class="btn btn-primary" title="">保存</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="hobby">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero">
                                                    设定兴趣爱好
                                                </h3>
                                                <div class="example-box-wrapper">
                                                    <form action="/setting_hobby" method="POST" class="form-horizontal bordered-row">

                                                        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">兴趣爱好</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="favor" id="favor" class="form-control">{{ hobby.favor }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">喜欢的音乐</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="music" id="music" class="form-control">{{ hobby.music }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">喜欢的电影</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="movie" id="movie" class="form-control">{{ hobby.movie }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">喜欢的书</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="book" id="book" class="form-control">{{ hobby.book }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">喜欢的运动</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="sport" id="sport" class="form-control">{{ hobby.sport }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <button type="submit" class="btn btn-primary" title="">保存</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="account">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero">
                                                    修改邮件地址
                                                </h3>
                                                <div class="example-box-wrapper">
                                                    <form class="form-horizontal bordered-row">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">旧Email</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="" disabled="" placeholder="xxx@xxx.com">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">新Email</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="" placeholder="Example placeholder...">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-primary" title="">修改Email</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <h3 class="title-hero">
                                                    修改密码
                                                </h3>
                                                <div class="example-box-wrapper">

                                                    <div id="pass_validate_error" class="alert alert-danger" style="display:none;">
                                                        <p id="pass_error_msg">error_message</p>
                                                    </div>

                                                    <form action="setting_newpass" method="POST" class="form-horizontal bordered-row">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">旧密码</label>
                                                            <div class="col-sm-6">
                                                                <input type="password" class="form-control" id="src_pass" name="src_pass"
                                                                    onblur="validate(check_pass('src_pass'), 'pass_validate_error', 'pass_error_msg', '请输入6-128位，以字母及_开头的密码');">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">新密码</label>
                                                            <div class="col-sm-6">
                                                                <input type="password" class="form-control" id="new_pass" name="new_pass"
                                                                    onblur="validate(check_pass('new_pass'), 'pass_validate_error', 'pass_error_msg', '请输入6-128位，以字母及_开头的密码');">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">重复新密码</label>
                                                            <div class="col-sm-6">
                                                                <input type="password" class="form-control" id="confirm_pass" name="confirm_pass"
                                                                    onblur="validate(check_confirmPass('new_pass', 'confirm_pass'), 'pass_validate_error', 'pass_error_msg', '两次密码输入不一致');">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <button type="submit"  class="btn btn-primary" title="">修改密码</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <h3 class="title-hero">
                                                    注销账户
                                                </h3>
                                                <div class="example-box-wrapper">
                                                    <form class="form-horizontal bordered-row">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-primary" title="">注销账户</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="privacy">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero">
                                                    隐私设定
                                                </h3>
                                                <div class="example-box-wrapper">
                                                    <form class="form-horizontal bordered-row">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">
                                                                        需要我批准才能查看我的消息
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">
                                                                        只接收我关注的人发的私信
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">
                                                                        知道我的 MSN/Gtalk/QQ 或 Email 也没法找到我
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-primary" title="">保存</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="notification">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero">
                                                    通知设定
                                                </h3>
                                                <div class="example-box-wrapper">
                                                    <form class="form-horizontal bordered-row">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="" checked="">
                                                                        当有新私信时，发 Email 通知我 (每天最多一封)
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="" checked="">
                                                                        当有人关注我时，发 Email 通知我
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="" checked="">
                                                                        当网站发布最新动态时，发 Email 通知我 (一个月最多一封)
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="" checked="">
                                                                        我关注别人时通知关注我的人
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="" checked="">
                                                                        在首页消息列表中显示关注消息
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="" checked="">
                                                                        将非法登陆尝试通过私信发给我
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-primary" title="">保存更改</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="template">模板</div>
                                    <div role="tabpanel" class="tab-pane" id="sync">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <h3 class="title-hero">
                                                    同步到其他网站(测试)
                                                </h3>
                                                <div class="example-box-wrapper">
                                                    <form class="form-horizontal bordered-row">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                同步功能暂停服务.
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>