{% extends "base.html" %}

{% block title %}Space{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">

        $(function(){
        
            var csrftoken = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("#follow").click(function(){

                var followee_id = "{{ member.id }}";
                var follow_flag = $("#follow_flag").val();

                if(follow_flag == "unfollowed") {
                    var data = {
                        data: JSON.stringify({
                            "followee_id": followee_id
                        })
                    };
                    
                    $.ajax({
                        url: "/follow",
                        type: "POST",
                        data: data,
                        error: function(){
                            alert('提交失败,请重试!');
                        },
                        success: function(results){
                            // alert(results);
                            $("#follow_flag").val("following");
                            $("#follow_content").html("取消关注");
                        }
                    });
                } else if (follow_flag == "following") {
                    var data = {
                        data: JSON.stringify({
                            "followee_id": followee_id
                        })
                    };
                    
                    $.ajax({
                        url: "/unfollow",
                        type: "POST",
                        data: data,
                        error: function(){
                            alert('提交失败,请重试!');
                        },
                        success: function(results){
                            // alert(results);
                            $("#follow_flag").val("unfollowed");
                            $("#follow_content").html("关注此人");
                        }
                    });
                } else {
                    alert("follow error!")
                }
            });
        });
    </script>
{% endblock %}

{% block header_nav %}
    {{ super() }}
{% endblock %}

{% block siderbar %}
<div class="col-md-4">

    <div class="panel-layout">
        <div class="panel-box">

            <div class="panel-content image-box">
                <div class="ribbon">
                    <div class="bg-primary"><i class="glyph-icon icon-facebook"></i></div>
                </div>
                <div class="image-content font-white">

                    <div class="meta-box meta-box-bottom">
                        {% if member %}
                        <img src="{{ member.avatar_path }}" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">{{ member.fullname }}</h3>
                        <h4 class="meta-subheading">{{ member.autograph }}</h4>
                        {% else %}
                        <img src="../static/image/avatar/avatar.png" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading">Error</h3>
                        <h4 class="meta-subheading">Error</h4>
                        {% endif %}
                    </div>

                </div>
                <img src="../static/image/blurred-bg-2.jpg" alt="">

            </div>

            <div class="panel-content pad15A bg-white radius-bottom-all-4">
                
                {% if not_myspace %}
                <div class="clear profile-box">
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <input type="hidden" id="follow_flag" value="{{ follow }}">
                            <a id="follow" class="btn btn-sm bg-google">
                                {% if follow == 'unfollowed' %}
                                    <span id="follow_content" class="button-content">
                                        关注此人
                                    </span>
                                {% elif follow == 'following' %}
                                    <span id="follow_content" class="button-content">
                                        取消关注
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-sm bg-facebook">
                                <span class="button-content">
                                    给他留言
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-sm bg-twitter">
                                <span class="button-content">
                                    发私信
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mrg15T mrg15B"></div>
                {% endif %}

                <div class="center-vertical">

                    <ul class="center-content list-group list-group-separator row mrg0A">
                        <li class="col-md-4">
                            <b>1,456</b>
                            <p class="font-gray">他关注的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">关注他的人</p>
                        </li>
                        <li class="col-md-4">
                            <b>593</b>
                            <p class="font-gray">消息</p>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group" style="margin-top:10px;margin-bottom:10px">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    消息
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    收藏
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    照片
                </a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block content %}
<div class="col-md-8">

    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                最新动态
            </h3>
            <div class="example-box-wrapper">
                <div class="timeline-box timeline-box-left">
                    {% if blog_list %}
                        {% for blog in blog_list %}
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                {% if blog.post_type == 'NORMAL' %}
                                <div class="tl-icon bg-primary">
                                {% elif blog.post_type == 'REPEAT' %}
                                <div class="tl-icon bg-red">
                                {% elif blog.post_type == 'REPLAY' %}
                                <div class="tl-icon bg-black">
                                {% endif %}
                                    <img class="img-circle" width="30" src="{{ member.avatar_path }}" alt="" />
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <!-- <div class="tl-label bs-label label-info">Appointment</div> -->
                                        <p class="tl-content">
                                            {{ blog.content }}
                                        </p>
                                        {% if exist_pic != 0 %}
                                            <p>
                                                <a href="#" name="a"><img src="{{ blog.pic_path }}"></a>
                                            </p>
                                        {% endif %}
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i> {{ blog.create_time }} 
                                            通过 {{ blog.via }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% if not_myspace %}
                            <div class="tl-row">
                                他还没有动态，好懒的人呢...
                            </div>
                        {% else %}
                            <div class="tl-row">
                                当前还没有动态，为什么不发一条呢？
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}